# Virtual Environment
venv/
ENV/
env/
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
